body {
  background: url(programador.jpg) center;
  font-family: 'Lato';
  line-height: 1.5;
  color:white;
}
main {
  background: #060e0c7a;
  margin: 175px auto auto auto;
  border-radius: 15px;
  width: 35%;
  padding-top: 10px;
  padding-left: 30px;
  padding-bottom: 26px;
  padding-right: 30px;

}

.meu-nome, .sobre-mim {
  margin: 0;
  text-align: center;
}

/*
***Formatação do menu***
*/

#area-cabecalho {
  background-color: rgb(0, 0, 0); opacity: 0.6;
  text-align: center;
  margin-top: 30px;
  height: 75px;
  vertical-align: middle;
  line-height: 75px;


}

a {
  text-decoration: none;
}

a:link, a:visited {
  color: white;
}

a:hover {
  text-decoration: underline;
}

#area-cabecalho a:link, #area-cabecalho a:visited {
  color: orange;
  padding: 8px 12px;
}

#area-cabecalho a:hover {
  color: white;
  text-decoration: none;
}
